[Desktop Entry]
Icon=text-html
Name=http://martin-baker.com/products/mk4-ejection-seat/
Type=Link
URL[$e]=http://martin-baker.com/products/mk4-ejection-seat/
